@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap');

body {
  font-family: 'Assistant', sans-serif;
}

:root {
  --background: #FFFFFF;
  --text-primary: #000000;
  --text-secondary: rgba(0, 0, 0, 0.556);
  --editor: #111827;
  --border: #2626263c;
  --hover: #c7c4c4;
  --foreground: #f3f4f6;

  .dark {
    --background: #171717;
    --text-primary: #FFFFFF;
    --text-secondary: rgba(255, 255, 255, 0.516);
    --editor: #0a0a0a;
    --border: #404040;
    --hover: #424242;
    --foreground: #262626;
  }

}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.width-absolute {
  width: 100%;
}

.mobile-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.mobile-scrollbar::-webkit-scrollbar-track {
  background: var(--background);
  cursor: pointer;
}

.mobile-scrollbar::-webkit-scrollbar-thumb {
  background: #88888888;
  border-radius: 10px;
  width: 5px;
}

.mobile-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}